backports.functools-lru-cache; python_version < "3.3"
colorama; sys_platform == "win32"
configparser; python_version < "3.2"
enum34; python_version < "3.4"
flake8
flake8-builtins
flake8-coding
flake8-commas
flake8-comprehensions
flake8-debugger
flake8-deprecated
flake8-docstrings
flake8-mutable
flake8-pep3101
flake8-polyfill
flake8-print
flake8-string-format
flake8-tidy-imports
flake8-todo
flake8-tuple
hashin
pathspec
pep257
pep8
pip-tools
pycodestyle
pydocstyle
pyflakes
pylint
pytest
singledispatch; python_version < "3.4"
Sphinx
typing; python_version<"3.4"
yamllint
